.header{
  width: 100%;
  background-color: #ae4977;
  text-align: center;
  border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius:5px;
box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #497a78, 0px 10px 5px #999;
font-family: 'Gugi', cursive;

}

body {
  background-image: url("space.gif");
   background-repeat: no-repeat;
   background-size: 100% 100%;
}

.text{
  font-family: 'Gugi', cursive;
  background-color: white;
  width: 100%;
  border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius:5px;
box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #497a78, 0px 10px 5px #999;
}

.pic {
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #497a78, 0px 10px 5px #999;
}
